<html lang="en">
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


    <title>Document</title>
  </head>
  <body>
    <div class="main-content">  {{>header}}
      <p class="alien">Hi, Im {{name}}. An aspiring full-stack developer.</p>
        <p class="alien">This site shows the weather by location.</p>
        <img class="portrait" src="/img/alien.jpg">
                <p class="alien1">This is just the beginning...</p></div>

        {{>footer}}
  </body>
</html>